template-record.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/">

    <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format alignmentUnits="bits" lengthUnits="bits" representation="binary" binaryNumberRep="binary" byteOrder="bigEndian" lengthKind="implicit" alignment="1" encodingErrorPolicy="replace" binaryFloatRep="ieee" calendarPatternKind="implicit" documentFinalTerminatorCanBeMissing="yes" emptyValueDelimiterPolicy="none" escapeSchemeRef="" fillByte="f" floating="no" ignoreCase="no" initiatedContent="no" initiator="" leadingSkip="0" separator="" separatorPolicy="suppressed" textStandardZeroRep="0" textStandardInfinityRep="Inf" textStandardExponentRep="E" textStandardNaNRep="NaN" textNumberPattern="#,##0.###;-#,##0.###" textNumberRounding="explicit" textNumberRoundingMode="roundUnnecessary" textNumberRoundingIncrement="0" textStandardGroupingSeparator="," separatorPosition="infix" sequenceKind="ordered" terminator="" textBidi="no" textNumberCheckPolicy="strict" textNumberRep="standard" textStandardBase="10" textTrimKind="none" trailingSkip="0" truncateSpecifiedLengthString="no" utf16Width="fixed" encoding="US-ASCII" nilKind="literalValue" nilValueDelimiterPolicy="none" occursCountKind="parsed"/>
        </xs:appinfo>
    </xs:annotation>

    <!-- IPFIX -->

    <xs:element name="IPFIX">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Message-header" type="Message-header-format"/>
                <xs:element name="Set" type="Set-format" maxOccurs="unbounded" dfdl:occursCountKind="implicit"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Message-header-format">
        <xs:sequence>
            <xs:element name="Version-number" type="int16"/>
            <xs:element name="Length" type="int16"/>
            <xs:element name="Export-time" type="int32"/>
            <xs:element name="Sequence-number" type="int32"/>
            <xs:element name="Observation-domain-id" type="int32"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Set-format">
        <xs:sequence>
            <xs:element name="Template-Set" type="Template-Set-format"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Template-Set-format">
        <xs:sequence>
            <xs:element name="Template-Set-header" type="Template-Set-header-format"/>
            <xs:element name="Template-Records" dfdl:lengthKind="explicit" dfdl:length="{ ../Template-Set-header/Length - 4 }" dfdl:lengthUnits="bytes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Template-record" type="Template-record-format" minOccurs="1" maxOccurs="unbounded" dfdl:occursCountKind="implicit"/>
                        <xs:element name="Padding" type="Padding-format" minOccurs="0" maxOccurs="unbounded" dfdl:occursCountKind="implicit"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Template-Set-header-format">
        <xs:sequence>
            <xs:element name="Set-id" type="int16"/>
            <xs:sequence>
                <xs:annotation>
                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                        <dfdl:discriminator test="{ ./Set-id eq 2 }" message="Template-Set/Set-id is not 2"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:sequence>
            <xs:element name="Length" type="int16"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Template-record-format">
        <xs:sequence>
            <xs:element name="Template-record-header" type="Template-record-header-format"/>
            <xs:element name="Field-specifier" type="Field-specifier-format" minOccurs="1" maxOccurs="unbounded" dfdl:occursCountKind="expression"
                dfdl:occursCount="{ ../Template-record-header/Field-count }"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Template-record-header-format">
        <xs:sequence>
            <xs:element name="Template-id" type="int16"/>
            <xs:element name="Field-count" type="int16"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Padding-format">
        <xs:annotation>
            <xs:appinfo source="http://www.ogf.org/dfdl/">
                <dfdl:assert test="{ dfdl:checkConstraints(.) }" message="Validation of Padding Format failed"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="int8">
            <xs:enumeration value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Field-specifier-format">
        <xs:sequence>
            <xs:element name="Enterprise-bit" type="unsignedint1"/>
            <xs:element name="Information-element-identifier" type="int15"/>
            <xs:element name="Field-length" type="int16"/>
            <xs:element name="Enterprise-number" type="int32" minOccurs="0" dfdl:occursCountKind="expression" dfdl:occursCount="{ ../Enterprise-bit }"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ************************************************************ -->
    <!-- ************************************************************ -->

    <xs:simpleType name="unsignedint1" dfdl:length="1" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:unsignedInt"/>
    </xs:simpleType>

    <xs:simpleType name="int8" dfdl:length="8" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="unsignedint8" dfdl:length="8" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:unsignedInt"/>
    </xs:simpleType>

    <xs:simpleType name="int15" dfdl:length="15" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="int16" dfdl:length="16" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="unsignedint16" dfdl:length="16" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:unsignedInt"/>
    </xs:simpleType>

    <xs:simpleType name="int32" dfdl:length="32" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="unsignedint32" dfdl:length="32" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:unsignedInt"/>
    </xs:simpleType>

    <xs:simpleType name="unsignedint64" dfdl:length="64" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:unsignedInt"/>
    </xs:simpleType>

</xs:schema>
